################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs
/ConsoleApp1/Homework_1/bin/Debug/net6.0
/ConsoleApp1/Homework_1/obj
/ConsoleApp1/Task_1/bin/Debug/net6.0
/ConsoleApp1/Task_1/obj
/Homework_3/.vs
/Homework_3/Homework_3/bin/Debug/net6.0
/Homework_3/Homework_3/obj
/Homework_3/Task_3/bin/Debug/net6.0
/Homework_3/Task_3/obj
/Homework_3/TestProject1
/Homework_3/Task_3/Task_6.cs
/Lesia_Maiatsaka/Homework_4/Task_4/obj
/Lesia_Maiatsaka/Homework_4/.vs/Homework_4/FileContentIndex
/Lesia_Maiatsaka/Homework_4/Task_4/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_4/Task_4_Console/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_4/Task_4_Console/obj
/Lesia_Maiatsaka/Homework_4/Task_4_Tests/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_4/Task_4_Tests/obj/Debug/net6.0/ref
/Lesia_Maiatsaka/Homework_4/Task_4_Tests/obj/Debug/net6.0/refint
/Lesia_Maiatsaka/Homework_4/Task_4_Tests/obj
/Lesia_Maiatsaka/Homework_5/.vs
/Lesia_Maiatsaka/Homework_5/Dictionary/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_5/Dictionary/obj
/Lesia_Maiatsaka/Homework_5/Homework_5/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_5/Homework_5/obj/Debug/net6.0
/Lesia_Maiatsaka/Homework_5/Homework_5/obj
/Lesia_Maiatsaka/Homework_5/IntCollection/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_5/IntCollection/obj
/Lesia_Maiatsaka/Homework_5/Task_5/bin/Debug/net6.0
/Lesia_Maiatsaka/Homework_5/Task_5/obj
/Lesia_Maiatsaka/Lesson_6/.vs/Lesson_6/v17
/Lesia_Maiatsaka/Lesson_6/Homework_6/obj
/Lesia_Maiatsaka/Lesson_6/Lesson_6.Test/obj
/Lesia_Maiatsaka/Lesson_6/Lesson_6.Test/bin/Debug/net6.0
/Lesia_Maiatsaka/Lesson_6/Homework_6/bin/Debug/net6.0
/Lesia_Maiatsaka/Lesson_6/.vs
/Lesia_Maiatsaka/Lesson_6/Homework_6.Console/bin/Debug/net6.0
/Lesia_Maiatsaka/Lesson_6/Homework_6.Console/obj
